@use '/src/assets/global';

.Heading {
    @apply w-full h-screen pt-4 flex flex-col;
    height: 120vh;
    @include global.paddingInline;
    background-image: url('/assets/images/bgHeading.png');
    background-size: cover;
    .Heading-content {
        @apply flex flex-col my-auto gap-6;
    }
    .Heading-title {
        font-family: Jost;
        font-size: 44px;
        font-weight: 600;
        line-height: 3.5rem;
        letter-spacing: 0em;
        text-align: left;
    }
    .Heading-text {
        font-family: 'Open Sans';
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
    }
    .Heading-btn {
        @apply flex gap-4;
        button {
            @apply flex items-center justify-center;
            width: 150px;
            height: 45px;
            padding: 7px, 39px, 7px, 39px;
            border-radius: 5px;
            gap: 10px;

            font-family: Jost;
            font-size: 16px;
            font-weight: 600;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            &.Heading-btn-primary03 {
                @apply bg-primary03 text-white;
            }
        }
    }
    hr {
        @apply w-1/3;
    }
    .Heading-star {
        @apply w-1/3;
    }
}
