@use '/src/assets/global';

.Pricing {
    @include global.paddingInline;
    @apply w-full h-fit lg:h-screen   flex flex-col items-center my-0 lg:my-16 gap-4;
    h2 {
        font-family: Jost;
        font-size: 30px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
    }
    & > p {
        @apply w-full sm:w-[50vw];
        font-family: Open Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
    }
    &-content {
        @apply w-full flex  justify-around rounded-xl;
        @apply h-fit lg:h-2/4 flex-col md:flex-row items-center md:items-start gap-y-8;
        background: conic-gradient(
            from 180deg at 50% 50%,
            rgba(73, 222, 255, 0.72) 0deg,
            rgba(79, 255, 223, 0.71) 360deg
        );
        .Starter,
        .Professional {
            @apply w-2/6 flex flex-col relative top-24 gap-2;
            @apply w-5/6 md:w-2/6;
            h3 {
                @apply flex items-center gap-2;
                font-family: Jost;
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 0em;
                text-align: center;

                img {
                    width: 40px;
                }
            }

            .liste {
                @apply rounded-2xl w-full h-fit bg-white flex flex-col items-start px-6 sm:px-12 py-8 gap-4;
                box-shadow: 0px 28px 57px 0px #bebebe40;

                h2 {
                    font-family: Jost;
                    font-size: 32px;
                    font-weight: 700;
                    letter-spacing: 0em;
                    text-align: left;
                }
                p {
                    font-size: 14px;
                    text-transform: capitalize;
                }
                ul {
                    @apply flex flex-col items-start gap-4;
                    li {
                        @apply flex flex-wrap items-center gap-2;
                        font-family: Open Sans;
                        font-size: 14px;
                        font-weight: 300;
                        letter-spacing: 0em;
                        text-align: left;
                        strong {
                            font-weight: 600;
                        }
                        .highlight {
                            color: #ffb545;
                            font-weight: 600;
                        }
                    }
                }
                button {
                    width: 100%;
                    height: 50px;
                    padding: 26px, 171px, 26px, 171px;
                    border-radius: 5px;
                    gap: 10px;
                    background: #eaeaea;
                    font-family: Jost;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 32px;
                    letter-spacing: 0em;
                    text-align: center;
                }
            }
        }

        .Professional .liste button {
            @apply bg-primary03 text-white;
        }
    }
}
