@use '/src/assets/global';
.HowItWork {
    @include global.paddingInline;
    // padding-right: 0;
    @apply w-full  flex items-center gap-10 mb-4;
    .HowItWork-left {
        @apply h-4/5 py-4 flex flex-col;
        flex: 0.35;
        .HowItWork-title {
            font-family: Jost;
            font-size: 30px;
            font-weight: 500;
            line-height: 40px;
            letter-spacing: 0em;
        }
        .HowItWork-text {
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0em;
            color: #4e4e4e;
        }
        .HowItWork-menus {
            @apply flex flex-col gap-2 mt-7;
            li {
                @apply flex items-start gap-2 py-4;
                background:
                    linear-gradient(white, white) padding-box,
                    linear-gradient(to right, transparent, #e0e0e0) border-box;
                border: 1px solid transparent;
                border-radius: 1.5rem;
                .HowItWork-item-number {
                    font-family: Jost;
                    font-weight: 600;

                    letter-spacing: 0em;
                    text-align: left;
                    color: #47cfff;
                }
                .HowItWork-item-title {
                    font-family: Jost;
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 0em;
                    text-align: left;
                }
                .HowItWork-item-text {
                    @apply w-4/5;
                    font-family: Open Sans;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
    }

    .HowItWork-right {
        @apply rounded-l-3xl flex flex-col justify-center gap-2;
        @apply pl-4 lg:pl-[5rem];
        // padding-left: 5rem;
        background-image: url('/assets/images/HowItWork.png');
        background-repeat: no-repeat;
        // background-size: 35%;
        background-position: right bottom;
        flex: 0.65;
        background-color: #f6f6f6;
        h2 {
            @apply w-full md:w-3/5;
            font-family: Jost;
            line-height: 2.3rem;
            // font-size: 30px;
            font-weight: 600;
            letter-spacing: 0em;
            text-align: left;
        }

        p.HowItWork-right-text {
            @apply w-full md:w-3/5;

            font-family: Open Sans;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0em;
            text-align: left;
        }
        p.HowItWork-right-text--highlight {
            font-size: 15px;
            color: #3ba3c8;
        }
        .HowItWork-right-btn {
            @apply flex items-center gap-2 mt-4;
            @apply flex-col mobile:flex-row;
            button {
                @apply w-full mobile:w-auto flex justify-center mobile:justify-start items-center gap-2 bg-black px-2 py-1 rounded-md;
                img {
                    @apply w-8;
                }
                p {
                    font-family: Jost;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0em;
                    text-align: left;
                    color: white;
                }
                h4 {
                    font-family: Jost;
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 0em;
                    text-align: left;
                    color: white;
                }
            }
        }
    }
}
